/* Font-awesome Icons */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/* Font family */
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
  font-family: "Caveat", sans-serif;

  background: linear-gradient(
    90deg,
    rgba(84, 75, 227, 1) 0%,
    rgba(121, 9, 49, 0.7035189075630253) 50%,
    rgba(84, 75, 227, 1) 100%
  );
}

#temp {
  font-size: xx-large;
}

.navbar .sunny {
  background-image: linear-gradient(
    to right top,
    #ff4e50,
    #ff713e,
    #ff932b,
    #ffb41d,
    #f9d423
  );
}
.navbar .cloudy {
  background-image: linear-gradient(
    to right top,
    #63747c,
    #71858e,
    #7f96a0,
    #8da8b2,
    #9bbac5
  );
}
.navbar .rainy {
  background-image: linear-gradient(
    to right top,
    #637c7b,
    #718e8c,
    #7ea09e,
    #8db2b0,
    #9bc5c3
  );
}

#container {
  width: min(100%, 1000px);
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  padding: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0 8px 10px rgba(190, 190, 190, 0.605);
  background-color: #d0f4f1;
}
.card-text {
  font-size: x-large;
  font-style: italic;
  height: 20%;
  width: auto;
  text-align: center;
}

.btn {
  outline: none;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.score-container {
  width: 100%;
  height: 20vh;
  display: grid;
  place-items: center;
}

.score-icons {
  padding: 0;
  margin: 0;
  list-style: none;
}

.score-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.score-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.score-icons a {
  display: inline-block;
}

.score-icons a::before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  transition: all 265ms ease-out;
}

.score-icons a:hover::before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.score-icons a:hover i {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  color: #fff;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
  background-clip: none;
}

#weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: antiquewhite;
  padding-left: 6%;
  padding-top: 2%;
}
